@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/_carousel.scss';
@import 'blocks/_catalog.scss';
@import 'blocks/feeds';
@import 'blocks/footer';
@import 'blocks/_modal.scss';
